.documentation-container{
    display: flex;
    flex-direction: column;
}

.documentation-question{
    z-index: 12;
    display: flex;
    position: relative;
    /* transform: translateX(5rem); */
    color:white;
    background-color: red;
    width:100vw;
    margin: 0 auto 0 auto;
    justify-content: center;
}