.navbar-container{
    position: fixed;
    width: 100vw;
    top:0;
    left:50%;
    transform: translateX(-50%);
    height:60px;
    z-index: 2;
    background-color: rgb(50, 50, 50);
    
  
 
}

.nav-wrapper{
  background-color: rgb(183, 183, 183);
  width: 100vw;
  height: 60px;
}

.navbar-contents{
    display: flex;
    justify-content: space-between;
}

.name{
    margin-left: 1rem;
    font-size: 1.2rem;
}

.list-search-box{
    display: flex;
    margin-right: 1rem;
}

.list-search-box img{
    height:30px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 2px 0;
    transition: 0.4s;
  }
  
  .menu-open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .list-button {
    /* Your existing styles for the closed state */
    display: none;
  }
  
  .list-button.open {
    /* Your styles for the open state */
    display: block;
  }

  .desktop-menu{
    display: none;
  }


  @media screen and (min-width:755px){
    .desktop-menu{
        display: flex;
    }
    .name{
        margin-top:0.5rem;
        font-size: 1.75rem;
    }

    .navbar-container{
        max-width: 1100px;
    }

    .desktop-menu p{
        margin-left: 0.75rem;
    }

    .desktop-menu img{
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .name{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
    }
  }