.navbar-container{
    position: fixed;
    width: 100vw;
    top:0;
    left:0;
    height:60px;
    
    justify-content: space-between;
 
}

.navbar-contents{
    display: flex;
}

.navbar-container p{
    margin-left: 1rem;
}

.list-search-box{
    display: flex;
    margin-right: 1rem;
}

.list-search-box img{
    height:30px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 2px 0;
    transition: 0.4s;
  }
  
  .menu-open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .list-button {
    /* Your existing styles for the closed state */
    display: none;
  }
  
  .list-button.open {
    /* Your styles for the open state */
    display: block;
  }