.textFormat-container{

   display: flex;
   flex-direction: column;
   /* justify-content: center;
   align-items: center; */
   text-align: center;

}

.line{
    margin-left: auto;
    margin-right: auto;
    background-color:grey;
    height:2px;
    width:75vw
}

.questions-list{
    color:white;
}

.questions-list li::before {
    content: '?';
    display: inline-block;
    margin-right: 5px;
  }

.questions-list li{
 list-style: none;
}