.herobanner1-container{
    width:100vw;
    color:white;
    display: flex;
justify-content: center;
align-items: center;

position: relative;
height:100vh;


}

.hero-wrapper{
    width:100vw;
    background-image: url(src/media/home1.png);
background-size: cover;
background-position: 50% 50%;
height:130vh;


}

.half{
    height:100vh
}

.text-box2{
    margin: 2rem auto 0 auto;
    width:85vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    padding-bottom: 2rem;
}

.half{
    /* margin-top: -6rem; */
}

#hero1-title{
    font-size: 1rem;
}

.text-box2 h2{
    font-size: 1.2rem;
   
}

#hero1-title {
    font-size: 2rem;
}

.text-box2 p{
    margin-top: -0.5rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.half-body-text-box h2{
    font-size: 1.1rem;
   
}

.half-body-text-box h1{
    font-size: 2rem;

}

.half-body-text-box p{
    margin-top: -0.5rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.image-box2{
    width:100vw;
    display: flex;
    margin-top: -4rem;
  
 
}

.hero1-image{
    margin: 1rem auto 0 auto;
    width:80vw;
    height:80vw;
    object-fit: cover;
    background-color: #333;
    border-radius: 80vw;
    max-width: 368px;
    max-height: 368px;
}

.nav-list li {
    list-style: none;
}

.hero1-image-half{
    
    height:50vh;
    position: absolute;
    left:60%;
    bottom: 0%;
    transform: translateX(-50%);
}

.half-body-text-box{
    position: absolute;
    top:-2%;
    left:50%;
    transform: translateX(-50%);
    width:85vw;
    /* background-color: red; */
}

@media screen and (min-width:450px) and (min-height: 775px) {
    .herobanner1-container{
        height:70vh;
    }

    .hero-wrapper{
        height:80vh;
        min-height: 600px;
    }

    .text-box2{
        margin-top: 5rem;
    }

    .hero1-image-half{
    
        height:50vh;
        position: absolute;
        left:60%;
        bottom: -14%;
        
    }

    .half-body-text-box{
        margin-top: 3rem;
    }
}

@media screen and (min-width:655px){

    .text-box2 h2{
     
        margin-right: auto;
        font-size: 1.8rem;
    }

    .half-body-text-box h2{
        font-size: 1.8rem;
    }
    
    .text-box2 h1{

        margin-right: auto;
        font-size: 2.2rem;
    }
    .half-body-text-box h1{
        font-size: 2.2rem;
    }

    .half-body-text-box p{
        font-size: 1.34em;
    }

    .text-box2 p{
        font-size: 1rem;
    }

    .half-body-text-box p{
        font-size: 1.7rem;
    }

    .hero-wrapper{
        height: 65vh;
    }

    .half{
       
    }
.herobanner1-container{
    height:65vh;
    max-width: 1000px;
    margin: 0 auto 0 auto;
  
    /* margin-top: 3REM; */
}

    .text-image-box2{
        width:100vw;
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: space-between;
        /* max-width: 200px; */
       /* background-color: red; */
        /* height: 65vh; */
max-width: 1000px;

    }
    .text-box2{
        margin-left: 1rem;
        width:50vw;
        text-align: left;
        /* position: absolute;
        left:0% */
    }

    .half-body-text-box{
        width:50%;
        transform: translateX(0);
        /* position: absolute; */
        left:5%;
        margin-left: 0rem;
        max-width: 450px;
   
    }
    .image-box2{
        width:50vw;
        margin-top: 5rem;
    
    }

    .hero1-image{
        width:45vw;
        height:45vw;
        max-width: 400px;
        max-height: 400px;
        /* height: 70%;
        border-radius: none; */
        
    }

    .half-body-image-box{
   height:100%;
position: absolute;
bottom: -18%;
left:85%;
transform: translateX(-20%);

    }

    .hero1-image-half{
height:65vh;
            object-fit: cover;
            bottom: 0;
            
    }

    


}

@media screen and (min-width:785px) {


    .half-body-text-box{
        /* left:10%; */
    }
}

@media screen and (min-width:1050px){

    .half-body-image-box{
        /* left:50% */
    }

    .half-body-text-box{
        left:10%;
    }
}