.infographic-container{
    width:100vw;
    overflow-x: hidden;
}


.info-image{
    marg
    height:40px;
}

.info{
    background-color: rgb(8, 10, 136);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    margin-bottom: 1.5rem;
    text-align: center;
}

.info p{
    padding: 0 1rem 0 1rem;
}