.parallax-page-container{
    width:100vw;
    overflow-x: hidden;
    display: flex;
}

.parallax-page-herobanner{
    background-image: url(src/media/aboubacar-5-fire.png);
    height:90vh;
    width:100vw;
    margin: 0 auto;
}


