.parallax-page-container{
    width:100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parallax-page-herobanner{
    background-image: url(src/media/aboubacar-5-fire.png);
    height:100vh;
    width:100vw;
    /* background-image: url(src/media/aboubacar-6.jpg); */
    margin: 0 auto;
    
    background-repeat: no-repeat;
    background-position: cover;
    display: flex;
    flex-direction: column;
  align-items: center;
    
}




