.full-slide-video{
    margin:0 auto;
    /* width: 100vw; */
 
    transition: opacity 0.5s ease; 
    object-fit: cover;
    object-position: 75% 50%;
    /* width: 100%; */
    height: 100vh;;
    width: 100vw;
    position: relative;
    


}

.full-slide-text h1{
    font-size: 3rem;
    text-align: center;
}

.full-slide-video-container{

height:100vh;
width: 100vw;
}

.full-slide-video video{
 
}

.full-slide-container{
    margin-top: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;

}

.full-slide-text{
    margin:0 auto;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.full-slide-text h3{
    margin-bottom: -2rem;
}

.overlay{
    position: absolute;

    width: 100vw;

    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


}

.full-slide-description{
    display: flex;
    width:50vw;
    margin: 0 auto;
    background-color: white;
}



@media screen and (min-width:700px){
    .full-slide-text{
        margin:0 auto;
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        /* bottom: 50%; */
        left:50%;
        transform: translateX(-50%);
    }
}