.herobanner2-container{
    width:100vw;
    height:130vh;
    background-image: url(src/media/home1.png);
    background-size: cover;
    color:white;
    position: relative;
    
}

.hero2-text-box{
    margin-top: -1rem;
    padding: 0 1rem 0 1rem;
}

.hero2-content-box{
  
    display: flex;
    flex-direction: column;
}

.herobanner2-container img{
    height:65vh;
    position: absolute;
    z-index: 3;
    object-fit: cover;
    margin-top: -1rem;
    bottom: 0;
    left:50%;
    transform: translateX(-45%);

}



@media screen and (min-width:455px){

    .herobanner2-container{
        height:60vh;
    }

    .hero2-text-box{
       padding: 0;
       background-color: red;
        /* width:50vw; */
    }

    .herobanner2-container img{
     
        height:50vh;
        position: relative;
 margin-top: auto;
 left: auto;
 transform: translateX(0);
    }

    .hero2-content-box{
        flex-direction: row;
        height: 60vh;
       
    }
    
}