.hydro-element{
    border-bottom: 2px solid black;
    color:white;
    
    
}

.hydro-element p{
    background-color: black;
    height: 100%;
    display: flex;
}

.hydrolist-container{
    margin-top: 6rem;
}

.hydro-element h2{
    font-size: 1.2rem;

}
